.menu_principal a{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.lista table, .lista td, .lista tr{
    border: 1px solid black;
}
.lista td{
    padding: 5px;
}
