<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>servlets.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AdminClientes</servlet-name>
        <servlet-class>servlets.AdminClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminVeterinarios</servlet-name>
        <servlet-class>servlets.AdminVeterinarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRazas</servlet-name>
        <servlet-class>servlets.AdminRazas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminClientes</servlet-name>
        <url-pattern>/AdminClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminVeterinarios</servlet-name>
        <url-pattern>/AdminVeterinarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRazas</servlet-name>
        <url-pattern>/AdminRazas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
